/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

secret/client_secret_769663979583-fb17j53uhbrt5k53pq2mttngm8418tc6.apps.googleusercontent.com.json